* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    color: white;
    }

h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;  
    font-weight: 400;
    font-size: 50px;
    background-color: black;
    opacity: 100%;
    margin: 0;
    width: 1280px;
    padding: 1rem;
    width: 1280px;
    display: inline-block;
}

nav {

    width: 100%;
    height: 727px;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

header {
    display:inline-block;
    text-align:center; 
    top: 1488px;
    left: 0px;
    width: 1280px;
    background: #000000;
    opacity: 1;
    margin: 0;
  
    }

header p{
    display: flow-root;
    float: left;
    top: 876px;
    left: 500px;
    width: 480px;
    height: 197px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left;
    margin: 80px 80px 80px 130px;
    padding: 1px; 
    font-weight: 50;
    font-size: 16px;
}

header img {
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
    border: 0px;
    padding: 0rem;
    margin: 50px 70px 60px 50px;
}

.features{
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
    padding: 40px 80px 80px 80px;
    text-align: center;
   display: inline-block;
   background: #1E1A13 0% 0% no-repeat padding-box;
   opacity: 0.98;
}
.features h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
}

.features h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.feature{
    width: 30%;
    display:inline-block;
    padding: 0.5em;
    text-align: center;
}
.features i{
    color: white;
    top: 1313px;
    left: 326px;
    width: 57px;
    height: 40px;
    padding: 20px;
    font-size: 200%;
}

.gallery {
    width: 30%;
    display: inline-block;
    top: 1488px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #000000;
    opacity: 0.96;
    border: 5px;
    }

section img{
    width: 316px;
    height: 202px;
    background: transparent url('img/photo-1523371153586-b3b8e1782b44.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 4em 0.5em;
}


.footer{
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    display: inline-block;
    top: 1835px;
    left: 10px;
    width: 1280px;
    height: 62px;
    text-align: center;
    padding: 1rem;
}
section h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 40;
    font-size: 20px;
    top: 1874px;
    left: 299px;
    height: 24px;
}